* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #b91b55;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
  height: auto;
  margin: 5rem auto;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 15px -2px 63px 13px rgba(0, 0, 0, 0.3);
}

.b-bottom {
  border-bottom: 2px solid #c0bdbd;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

h1,
textarea {
  all: unset;
}

h1 {
  font-size: 2rem;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.clear-btn {
  color: #000;
  justify-content: center;
  text-decoration: none;
  padding-left: 37%;
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 3%;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  border: 3px solid #1da049;
}

input::placeholder {
  font-style: italic;
}

.full {
  width: 100%;
}

.btn {
  width: 25px;
  height: 25px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.first-btn {
  position: absolute;
  left: 71.5%;
  bottom: 68%;
  background: none;
  border: none;

  /* padding-inline: 10px; */
  font-size: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7f7f7;
}

img {
  width: 80%;
  height: 80%;
  filter: opacity(50%);
  padding: 5%;
}

.update {
  margin-right: 1rem;
}

.task-text {
  padding-top: 10px;
}
