* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: whitesmoke;
}

.wrapper {
  max-width: 405px;
  margin: 135px auto;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 15px -2px 63px 13px rgba(0, 0, 0, 0.3);
}

.heading {
  position: relative;
}

.fa-arrows-rotate {
  position: absolute;
  left: 88%;
  bottom: 40%;
  font-size: 20px;
  cursor: pointer;
}

h1 {
  margin-top: 5%;
  padding-left: 10px;
  font-size: 2rem;
}

.task-input {
  height: 52px;
  padding: 0 5px;
  position: relative;
}

.first-btn {
  position: absolute;
  left: 86%;
  background: none;
  border: none;
  padding-inline: 10px;
  font-size: 35px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.task-input input {
  width: 90%;
  height: 100%;
  border: none;
  font-size: 1rem;
}

form input:focus {
  outline: none;
  padding-left: 10px;
}

hr {
  background-color: lightgray;
  height: 2px;
  width: 100%;
}


.clear-btn {
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: whitesmoke;
}

.clear-btn a {
  font-size: 1.7rem;
  text-decoration: none;
  color: #000;
  padding-left: 20%;
}

.task-box {
  margin: 20px 25px;
}

.task {
  font-size: 17px;
  display: flex;
  align-items: center;
 justify-content: space-between;
 padding-bottom: 10px;
}

label {
  display: flex;
  gap: 10px;
}

.three-dot {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.task-menu {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}