* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: whitesmoke;
}

ul {
  list-style-type: none;
}

#container {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  background-color: #fff;
  min-width: 450px;
  width: 40%;
  position: relative;
  top: 10%;
  left: 30%;
  margin-top: 10%;
  box-shadow: 15px -2px 63px 13px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  padding-left: 10px;
}

.fa-arrows-rotate {
  position: absolute;
  left: 92.5%;
  bottom: 88%;
  font-size: 20px;
  cursor: pointer;
}

input {
  border: none;
  width: 90%;
  height: 40px;
  padding-left: 5px;
}

form input:focus {
  outline: none;
  padding-left: 5px;
}

hr {
  background-color: lightgray;
  height: 2px;
  width: 100%;
}

.first-btn {
  background: none;
  border: none;
  padding-inline: 10px;
  font-size: 35px;
  cursor: pointer;
}

.clear {
  padding-left: 30%;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: whitesmoke;
}

.clear a {
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #000;
}

#tasks {
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: relative;
}

.list-name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
